@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Outfit:wght@100..900&display=swap');
@import 'tailwindcss';
@plugin 'daisyui';

@theme {
  --color-code: hsl(0, 0%, 100%);
  --color-code-50: hsl(0, 0%, 95%);
  --color-code-100: hsl(0, 0%, 90%);
  --color-code-150: hsl(0, 0%, 85%);
  --color-code-200: hsl(0, 0%, 80%);
  --color-code-250: hsl(0, 0%, 75%);
  --color-code-300: hsl(0, 0%, 70%);
  --color-code-350: hsl(0, 0%, 65%);
  --color-code-400: hsl(0, 0%, 60%);
  --color-code-450: hsl(0, 0%, 55%);
  --color-code-500: hsl(0, 0%, 50%);
  --color-code-550: hsl(0, 0%, 45%);
  --color-code-600: hsl(0, 0%, 40%);
  --color-code-650: hsl(0, 0%, 35%);
  --color-code-700: hsl(0, 0%, 30%);
  --color-code-750: hsl(0, 0%, 25%);
  --color-code-800: hsl(0, 0%, 20%);
  --color-code-850: hsl(0, 0%, 15%);
  --color-code-900: hsl(0, 0%, 10%);
  --color-code-950: hsl(0, 0%, 5%);
}

:root {
  --main-bg: hsl(0, 0%, 95%);
  --keyboard-focus-shadow-color: hsl(0, 0%, 10%);
}

/* Resets */
* {
  scrollbar-width: thin;
}
body {
  font-family:
    'Outfit',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  background-color: var(--main-bg);
  overflow: hidden;
}
button,
a {
  user-select: none;
}
@media (pointer: fine) {
  button {
    cursor: pointer;
  }
}

/* Utils */
button {
  outline: none;
  transition: box-shadow 150ms;

  &:focus-visible {
    box-shadow:
      0 0 0 2px white,
      0 0 0 4px var(--keyboard-focus-shadow-color);
  }
}
